= form_for(:motivation, html: { class: 'form' }, url: motivations_path, method: :post) do |form|
  .tabular
    p
      label[for="motivation_user"]
        = t('.motivation.users')
      = form.select(:user, options_from_collection_for_select(@users, :id, :name, @user&.id), class: 'select-small', prompt: t('.select_user'))
    p
      label[for="motivation_amount"]
        = t('.motivation.amount')
      = form.number_field :amount, step: '0.01'
    p
      label[for="motivation_date_from"]
        = t('.motivation.date_from')
      = form.date_field :date_from
      label[for="motivation_date_to"]
        = t('.motivation.date_to')
      = form.date_field :date_to
    div
      = form.submit t('.submit_button')
